.audioPlayer {
	margin-top: 4em;
}

.visualizer {
	border: 1px solid black;
}

.audioControls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	span {
		width: 100%;
		border: 1px solid black;
		text-align: center;
		padding: 1em;
		&:first-of-type {
			border-radius: 5px 0 0 5px;
		}
		&:last-of-type {
			border-radius: 0 5px 5px 0;
		}
		img {
			margin: 0 auto;
			display: block;
			height: 1em;
			width: auto;
		}
	}
}
