#NavDesktop {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: $layout-nav-desktop-height;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: $rent-strike-color;
    font-style: normal;
    text-transform: uppercase;
    &:hover {
      color: $font-color-black;
    }
  }

  > * {
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 0.5em 1em;
    box-sizing: border-box;
    &:after {
      content: '';
      height: calc(100% - 1em);
      position: absolute;
      left: 100%;
      transform: translateX(-50%);
      background: $rent-strike-color;
      width: 2px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.sub-nav {
  position: relative;
  cursor: pointer;
  .list {
    position: absolute;
    top: 100%; left: 0;
    background: white;
  }
  a {
    display: block;
  }
}